.artist {
  width: 38vh;
  margin: 1rem;
  border: 1px solid gray;
  cursor: pointer;
}
.album {
  width: 38vh;
  margin: 1rem;
  border: 1px solid gray;
}
.artist img {
  width: 38vh;
  height: 35vh;
  border-bottom: 1px solid gray;
}
.album img {
  width: 38vh;
  height: 35vh;
  border-bottom: 1px solid gray;
}

.artist-info {
  padding-left: 2%;
}
.follower-conatiner {
  margin-top: -6%;
  color: gray;
}
.preview {
  color: gray;
  border-top: 1px solid gray;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
  cursor: pointer;
}

.rating-container {
  padding-top: 1%;
}
.movie-placeholder {
  width: 38vh;
  height: 35vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-bottom: 1px solid gray;
}

.date {
  color: gray;
}
.artist-name {
  color: gray;
}
