.search-center {
  display: flex;
  justify-content: center;
}

::placeholder {
  color: black;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info {
  padding-left: 10%;
}

.container {
  width: 50%;
  min-width: 250px;
  max-width: 300px;
  height: 180px;
  text-align: center;
  position: relative;
  top: 200px;
}

.search-from {
  background: grey;
  border-radius: 25px;
  position: relative;
}

.search-inputt {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 20px;
  padding: 8px 40px 8px 20px;
  border: 1px solid gray;
}

.container:focus {
  top: 10px;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .search-inputt {
    width: 80%;
    height: 70%;
  }
  .search-from {
    background-color: white;
  }
}
@media screen and (max-width: 500px) {
  input {
    padding: 0px 2px 0px 2px;
  }
}
