.search {
  min-height: 100vh;
}

.search-center {
  display: flex;
  justify-content: center;
  padding-top: 40vh;
}

.search-input {
  background-color: white;
  border: 1px solid rgb(185, 182, 182);
  border-radius: 10px;
  padding: 20px 150px 20px 150px;
  font-size: 30px;
}
::placeholder {
  color: black;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
