.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  background-color: white;
  border: 2px solid rgb(211, 208, 208);
  border-radius: 10px;
  padding: 20px 190px 20px 190px;
  font-size: 30px;
}
